.card{
  width: 300px;
  background-color: #f1f0ea;
  border-radius: 20px;
  padding: 10px;
  font-family: monospace;
  box-shadow: 1px 1px 20px gray;
}

.profile-image{
  max-width: 100%;
  border-radius: inherit;
}

.name{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.bio{
  font-size: small;
}

.skillList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skillList li{
  display: inline-block;
  margin: 4px;
  padding: 2px 6px;
  border: 1px solid;
  border-radius: 3px;
}