:root {
  font-family: 'Trebuchet MS', 'Segoe UI', 'Candara', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2f1f12;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
input,
textarea {
  font: inherit;
}
